<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
  lang="{{ LANGUAGE_CODE|default:"en-us" }}"
  xml:lang="{{ LANGUAGE_CODE|default:"en-us" }}">
{% load i18n %}
{% load url from future %}
<head>
  <title>{% block title %}ideaList{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css" />
  {% block extrahead %}{% endblock %}
</head>
<body>
<div id="container">
  {% block header %}
  <div id="header">
    {% if user.is_active %}
    <div id="user-tools">
      {% block user-tools-before %}{% endblock %}
      {% trans 'Hi,' %}
      <strong>
        <a href="{% url 'django.contrib.auth.views.password_change' %}">{% filter force_escape %}{% firstof user.first_name user.username %}{% endfilter %}</a>
      </strong>
      /
      {% block userlinks %}
      <a href="{% url 'django.contrib.auth.views.logout_then_login' %}">{% trans 'Log out' %}</a>
      {% endblock %}
    </div>
    {% endif %}
  </div>
  {% endblock %}

  <!-- Content -->
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>

  {% block footer %}<div id="footer"></div>{% endblock %}
</div>
</body>
</html>
