<html>
{% load i18n %}
{% load static %}
<head>
  <title>{% block title %}ideaList{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}" />
  <link rel="icon" sizes="128x128" href="/favicon128.png" />
  {% block extrahead %}{% endblock %}
</head>
<body>
<div id="container">
  {% block header %}
  <div id="header">
    {% if user.is_active %}
    <div id="user-tools">
      {% block user-tools-before %}{% endblock %}
      {% trans 'Hi,' %}
      <strong>
        <a href="/d/passwd/">{% filter force_escape %}{% firstof user.first_name user.username %}{% endfilter %}</a>
      </strong>
      /
      {% block userlinks %}
      <a href="/d/logout/">{% trans 'Log out' %}</a>
      {% endblock %}
    </div>
    {% endif %}
  </div>
  {% endblock %}

  <!-- Content -->
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>

  {% block footer %}<div id="footer"></div>{% endblock %}
</div>
</body>
</html>
