{% extends "ideaList/base.html" %}

{% block extrahead %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
{% endblock %}


{% block title %}main{% endblock %}

{% block content %}
{% if lists %}
    <ul>
    {% for list in lists %}
        <li id="list_{{ list.id }}" class="list">{{ list.name }}
            <ul>
            {% for item in list.items.all %}
                <li id="item_{{item.id}}" class="item">
                    {{ item.text }}
                    <a id="remove_item_{{item.id}}" class="removeitem" href="#">del</a>
                </li>
            {% endfor %}
            <li><input id="add_to_end_of_{{list.id}}" class="newitem" type="text" value="New item..."></input></li>
            </ul>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No lists.</p>
{% endif %}
<div id="debug"></div>
{% endblock %}
