{% extends "ideaList/base.html" %}

{% load ideaList_extras %}

{% block header %}
{% endblock %}

{% block content %}

{% if msg %}
<p>{{ msg }}</p>
{% endif %}

<a href="{% url 'basic' %}">Refresh</a>

<form action="{% url 'remove_items' %}" method="post">
  {% csrf_token %}
  <div><input type="submit" name="remove_items" value="Remove selected items" /></div>
  <ul class="listlist_nojs">
  {% for s in subscriptions %}
  <li><b>{{ s.list.name|escape|escape_utf8_scands|safe }}</b>
      <ul class="itemlist_nojs">
        {% for i in s.list.nontrashed_items %}
          <li {% if i.important %}class="important"{% endif %}>
            <input type="checkbox" name="item_ids" value="{{i.id}}" />
            {% if i.url %}<a href="{{ i.url }}">{% endif %}
              {{i.text|escape|escape_utf8_scands|safe}}
            {% if i.url %}</a>{% endif %}
          </li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
  </ul>
  <div><input type="submit" name="remove_items" value="Remove selected items" /></div>
</form>

<p><a href="{% url 'undelete' %}">Undelete items and lists</a></p>
<p><a href="{% url 'main' %}">Advanced view</a></p>

{% endblock %}
