{% extends "ideaList/base.html" %}

{% block extrahead %}
  <!-- <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script> -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jeditable.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
  <script type="text/javascript">
    var init_state = {{ init_state|safe }};
  </script>
{% endblock %}


{% block user-tools-before %}
<span id="status-light">&#x25cf;</span>
{% endblock %}

{% block content %}
<div>
  <button id="refresh" onClick="refresh()">Refresh</button>
</div>
<ul id="listlist" class="listlist">
</ul>

<div id="debug"></div>
{% endblock %}
