{% extends "ideaList/base.html" %}

{% load url from future %}
{% load ideaList_extras %}

{% block header %}
{% endblock %}

{% block content %}

{% if msg %}
<p>{{ msg }}</p>
{% endif %}

<a href="{% url 'ideaList.views.basic' %}">Refresh</a>

<form action="{% url 'ideaList.views.remove_items' %}" method="post">
  {% csrf_token %}
  <div><input type="submit" name="remove_items" value="Remove selected items" /></div>
  <ul class="listlist_nojs">
  {% for s in subscriptions %}
  <li><b>{{ s.list.name|escape|escape_utf8_scands|safe }}</b>
      <ul class="itemlist_nojs">
        {% for i in s.list.nontrashed_items %}
          <li>
            <input type="checkbox" name="item_ids" value="{{i.id}}" />
            {{i.text|escape|escape_utf8_scands|safe}}
          </li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
  </ul>
  <div><input type="submit" name="remove_items" value="Remove selected items" /></div>
</form>

<p><a href="{% url 'ideaList.views.undelete' %}">Undelete items and lists</a></p>

{% endblock %}
