#header {
    width: 100%;
}
#user-tools {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.2em 10px;
    font-size: 11px;
    text-align: right;
}
#content {
    margin: 10px 15px;
}

/* BEGIN MAIN PAGE STYLE */
.newitem {
}
.newitem_blur {
    color: #aaa;
}
/* END MAIN PAGE STYLE */
