#background-underlay {
  position: absolute;
  top:0px; bottom:0px; left:0px; right:0px;
  z-index: -1;
}
#header {
  width: 100%;
}
#user-tools {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.2em 10px;
  font-size: 11px;
  text-align: right;
}
#content {
  /* margin: 10px 15px; */
}

/* BEGIN MAIN PAGE STYLE */
.red { color: #f00; }
.green { color: #0f0; }
.yellow { color: #d5d500; }
.listlist {
  clear: both;
  display: table; /* Minimize width for nice double-tap zoom on N900 */
  list-style-type: none;
  padding-left: 1em;
  padding-top: 0.5em;
}
.listlist_nojs {
  clear: both;
  list-style-type: none;
  padding-left: 0;
  padding-top: 0;
}

.listaction {
  vertical-align: middle;
  text-decoration: none;
  color: yellow;
}
.listaction:hover
{
  color: red;
}

.subscription {
  margin-top: 0.5em;
}
.subscription-title {
  font-size: large;
}
.subscriptionaction {
  text-decoration: none;
  color: blue;
}
.subscriptionaction:hover {
  color: red;
}
.minmax {
/*  border: 1px dotted black; */
}
.list-name {
  font-weight: bold;
}
.itemlist {
  font-weight: normal;
  list-style-type: none;
  padding-bottom: 2px /* So that items can be dragged here even when empty */
}
.itemlist_nojs {
  font-weight: normal;
  list-style-type: none;
  padding-top: 0;
  margin-top: 0;
  padding-left: 10px;
  margin-left: 0px;
}

.create_list {
  vertical-align: middle;
  text-decoration: none;
  color: blue;
}
.create_list:hover
{
  color: red;
}

.item {
}
.itemaction {
  vertical-align: middle;
  text-decoration: none;
  font-size: small;
  color: blue;
}
.itemaction:hover
{
  color: red;
}
.move_item, .move_subscription {
  display: none;
}

/* The nav bar */
ul#list-nav {
  list-style: none;
  margin:10px 0 0 0;
  padding:0;
}
ul#list-nav > li {
  float: left;
  cursor: pointer;
  padding:5px 0;
  width:110px;
  background:#485e49;
  text-align:center;
  border-left:1px solid #fff;
}
ul#list-nav > li:hover {
  background:#a2b3a1;
  color:#000;
}
ul#list-nav > li > span {
  color:#eee;
}
ul#list-nav > li > div.dropcontent {
  position: absolute;
  display: none;
  cursor: auto;
  margin-top: 4px;
  padding: 5px 5px 5px 5px;
  background:#485e49;
  color:#eee;
}

ul.listmenu {
  list-style: none;
  padding: 0 5px 0 5px;
  text-align: left;
}

/* END MAIN PAGE STYLE */
