#header {
  width: 100%;
}
#user-tools {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.2em 10px;
  font-size: 11px;
  text-align: right;
}
#content {
  /* margin: 10px 15px; */
}

/* BEGIN MAIN PAGE STYLE */
.listlist {
  display: table-cell;
  list-style-type: none;
  padding-left: 1em;
}
.list {
  margin-top: 1em;
  font-weight: bold;
  font-size: medium;
}
.itemlist {
  font-weight: normal;
  list-style-type: circle;
}

.itemaction {
  font-size: x-small;
  vertical-align: middle;
  text-decoration: none;
  color: blue;
}
.itemaction:hover
{
  color: red;
}

.newitem {
}
.newitem_blur {
  color: #aaa;
}
.removeitem {
}
/* END MAIN PAGE STYLE */
